auto_batch*
fort*
imas_*
test_new/
tmp_*
helena.map
helena.ps
helena.vec
helena_restart
.DS_Store
interface/__pycache__/
shots.dat
workflow/Analysis/
workflow/__pycache__/
user_profiles/*
!user_profiles/default
IMAS_OUT_NR*
.vscode/
ids_merge/__pycache__